Package: com.zanehelton.hooking
Name: hooking
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Zane Helton
Author: Zane Helton
Section: Tweaks
Version: 0.0.1-3+debug
Installed-Size: 120
