Package: com.yourcompany.proofofconcept
Name: ProofOfConcept
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Zane Helton
Author: Zane Helton
Section: Tweaks
Version: 0.0.1-1
Installed-Size: 120
