Package: com.zanehelton.moduleviews
Name: ModuleViews
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Zane Helton
Author: Zane Helton
Section: Tweaks
Version: 0.0.1-4+debug
Installed-Size: 1132
